@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');


.construction {
	padding: 10px 20px;
	border-left: 3px solid var(--accent-color);
	border-radius: 10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: var(--secondary-color);
	width: fit-content;
	font-size: 15px;
	position: absolute;
	top: 25px;
	left: 10%;
}

.temp {
	--primary-color: #fcfcfc;
	--primary-color-hover: #ececec;
	--secondary-color: #dddddd;
	--secondary-color-hover: #c7c7c7;
	--primary-text-color: rgb(22, 22, 22);
	--secondary-text-color: #5b5b5b;
	--accent-color: #0000ee;
	--accent-color-hover: #0c0cc7;
	--text-shadow: 0 0 20px rgba(0 0 0 / 30%);
	--box-shadow: 0px 0px 6px 0px rgba(0 0 0 / 10%);
	--box-shadow-alt: 0px 0px 6px 0px inset rgba(0 0 0 / 20%);
	--selection-background-color: #000;
	--selection-color: #fff;
}

.dark {
	--primary-color: #121212;
	--primary-color-hover: #141414;
	--secondary-color: #191919;
	--secondary-color-hover: #1d1d1d;
	--primary-text-color: rgb(253, 253, 253);
	--secondary-text-color: #b8b8b8;
	/* --accent-color: #1da9d9; */
	--accent-color: #2394ec;
	--accent-color-hover: #6fb6ec;
	--text-shadow: 0 0 20px rgba(255 255 255 / 30%);
	--box-shadow: 0px 0px 6px 0px rgba(0 0 0 / 50%);
	--box-shadow-alt: 0px 0px 6px 0px inset rgba(0 0 0 / 100%);
	--selection-background-color: #fff;
	--selection-color: #000;
}

* {
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: var(--primary-color);
	color: var(--secondary-text-color);
	font-family: 'Inter', sans-serif;
	font-size: 22px;
}

body * {
	animation: fade-in 1s;	
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

main {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	height: 90%;
	padding-top: 10%;
	padding-left: 10%;
}

.home .animate-in {
  /* display: block; */
  /* height: 72px; */
  /* width: 320px; */
  /* background-color: #009688; */
  animation-name: animate-in;
  animation-duration: 2s;
  animation-delay: calc(var(--animation-order) * 0.1s);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }

	70% {
		transform: scale(0.95);
	}
  
  100% {
    opacity: 1;
		transform: scale(1);
  }
}

.icons {
	display: flex;
	gap: 20px;
	/* flex-direction: column; */
	margin-top: 20px;
}

.icons .icon {
	border-radius: 10px;
	background: var(--secondary-color);
	transition: 0.3s;
	width: 50px;
	height: 50px;
	padding: 10px;
	cursor: pointer;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary-text-color);
	fill: var(--secondary-text-color);
	animation: fade-in-icons 3s ease-in-out;
	box-shadow: 0px 16px 40px rgb(0 0 0 / 15%);
}

@keyframes fade-in-icons {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.icons .icon:hover {
	background: var(--secondary-color-hover);
	color: var(--primary-text-color);
	fill: var(--primary-text-color);
	transform: scale(1.1);
	box-shadow: 0px 16px 40px rgb(0 0 0 / 30%);
}

.icons .icon:active {
	left: 0 !important;
}

h1 {
	color: var(--primary-text-color);
	font-size: 60px;
	/* margin: 30px 0; */
	margin-bottom: 30px;
	text-shadow: var(--text-shadow);
}

h3 {
	font-size: 30px;
}

p {
	margin: 10px 0;
	/* opacity: 0.7; */
	color: var(--secondary-text-color);
	line-height: 150%;
}

.small-caps {
	font-family: 'Alegreya Sans SC', sans-serif;
}

a {
	text-decoration: none;
	font-size: 22px;
	/* width: fit-content; */
	/* display: table; */
	color: var(--accent-color);
	font-family: 'Numans', sans-serif;
	position: relative;
	transition: 0.3s;
	left: 0;
	cursor: pointer;
}

a:hover{
	color: var(--accent-color-hover);
	text-decoration: underline;
	/* border-bottom: 1px solid var(--accent-color-hover); */
	/* font-style: italic; */
	/* box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 50%); */
}

a:active {
	/* left: 10px; */
}

p a:active {
	/* margin-right: 10px; */
}

ul {
	line-height: 150%;
}

.open-nav {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 32px;
}

nav {
	display: flex;
	gap: 20px;
}

nav.full {
	width: 100%;
	height: 100%;
	z-index: 3;
	background: var(--primary-color);
	display: flex;
}

nav.home {
	flex-direction: column;
	margin-top: 40px;
	/* width: fit-content; */
}

nav.top {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	gap: 0;
	position: absolute;
}

nav.top img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

nav.top .links {
	display: flex;
	gap: 30px;
}

.about {
	width: 70%;
	/* padding-top: 10%; */
}

.stuff {
	padding-left: 0;
	padding-bottom: 10%;
	height: auto;
}

.stuff .intro {
	padding-left: 10%;
}

.stuff .intro p.last {
	color: var(--primary-text-color);
	margin-top: 30px;
}

.stuff .projects {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 100px;
	margin-top: 50px;
}

.stuff .projects .project {
	display: flex;
	width: auto;
	margin: 0 10%;
	gap: 60px;
	padding: 50px;
	border-radius: 20px;
	background: var(--secondary-color);
	box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.15);
	transition: 0.3s;
}

.stuff .projects .project:hover {
	transform: scale(1.01);
	box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.3);
	background: var(--secondary-color-hover);
}

.stuff .projects .project .text, .projects .project .media {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.stuff .projects .project .text h3 {
	color: var(--primary-text-color);
	font-weight: 600;
}

.stuff .projects .project .text {
	justify-content: center;
}

.stuff .projects .project .media img {
	border-radius: 20px;
	width: 100%;
	margin-bottom: 30px;
}

.stuff .projects .project .text .links {
	text-align: right;
	display: flex;
	gap: 30px;
}

.stuff .projects .project .media .links span:not(a span) {
	/* color: var(--accent-color); */
}

.sayhi .info {
	margin-top: 30px;
}

.sayhi .info a {
  position: relative;
  display: inline-block;
  font-size: 50px;
  /* color: var(--accent-color); */
  /* overflow: hidden; */
  background: linear-gradient(to right, var(--accent-color), var(--accent-color) 50%, var(--primary-text-color) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease, left 0.3s;
  text-decoration: none;
	margin-bottom: 20px;
	left: 0;
}

.sayhi .info a:hover {
  background-position: 0 100%;
	left: 20px;
}

.sayhi .info a:active {
	/* transform: rotate(10deg); */
}


footer {
	width: 100%;
	background: var(--secondary-color);
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	align-items: center;
	bottom: 0;
}

.home + footer, .about + footer, .sayhi + footer {
	position: fixed;
}

footer p, footer p a {
	display: flex;
	font-size: 15px;
	gap: 5px;
	margin: 0;
}

footer .icons {
	margin: 0;
}

footer .icons .icon {
	background: var(--primary-color);
	width: 40px;
	height: 40px;
	animation: none;
}

footer .icons .icon:hover {
	background: var(--primary-color-hover);
}


::selection {
	/* background: var(--main-text-color); */
	/* color: var(--primary-color); */
	background: var(--selection-background-color);
	color: var(--selection-color);
}

::-webkit-scrollbar {
  width: 10px;
	background: #12121241;
}

::-webkit-scrollbar-thumb {
	background: #3b3b3b9f;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #5555559f;
}

@media only screen and (max-width: 1000px) {
	nav {
		display: none;
	}

	.open-nav {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	
	body {
		height: auto;
	}
	
	.construction {
		margin: 20px;
		top: 0;
		left: 0;
		width: 70%;
		line-height: 150%;
	}
	
	main {
		padding: 150px 30px;
		width: 100% !important;
	}

	footer {
		flex-direction: column;
		gap: 20px;
		position: static !important;
	}
}
